.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.inputValue {
  width: 200px;
  border-color: palegreen;
  outline: palegreen;
  height: 35px;
  margin: 5px;
  border-radius: 12px;
}
.buttons {
  width: 200px;
  outline: none;
  height: 40px;
  border: none;
  margin: 5px;
  border-radius: 12px;
}
#plus {
  background-color: palegreen;
}
#minus {
  background-color: rgb(253, 169, 136);
}
#reset {
  background-color: red;
}
.oops-page{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  font-size: large;
  text-align: center;
}
.Oops{
color: coral;
}